  body{
  background-color: #fcf876;
  }
  hr{
    background-color:  #fcf876;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;
  }
  h1 {
    color: brown;
}
  h3 {
    color: brown;
}
